* {
    padding: 0;
    margin: 0;
    font-family: PingFangSC-Regular;
}

.weui-cells {
    margin: 0px;
}

.weui-switch {
    -webkit-appearance: none;
}

.weui-btn {
    display: initial;
    margin: initial;
}

a {
    text-decoration: none;
}

i{
    font-style: initial;
}

.iconfont {
    font-size: 25px;
}

.vux-header, .weui-tabbar {
    background-color: white;
}

.vux-header .vux-header-title, .vux-header h1 {
    color: #162636;
}

.weui-cell__ft {
    font-size: 14px;
}

.vux-popup-dialog{
    overflow-y: initial;
}

.weui-cells_checkbox .weui-check:checked + .weui-icon-checked:before{
    color: #30a3d5;
}